@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom fonts */
/* @font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik-Air.otf') format('otf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik-Thin.otf') format('otf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
} */
/* @font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik-LightItalic.otf') format('otf');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
} */

/* @font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik-RegularItalic.otf') format('otf');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
} */

@font-face {
  font-family: 'Aeonik';
  src: url('https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.eot');
  src:
    url('https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/757ff6da05e4f945c71c9751b485a9ad.svg#Aeonik Medium')
      format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.eot');
  src:
    url('https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.svg#Aeonik Regular')
      format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik-Medium.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik-MediumItalic.otf') format('otf');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
} */

/* @font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik-Black.otf') format('otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: #f9fafb;
    --card-foreground: #f9fafb;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: #d0d5dd;
    --input: #d0d5dd;
    --ring: #fce8e9;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: #f9fafb;
    --card-foreground: #f9fafb;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
  }
}

html {
  scroll-behavior: smooth;
}
